body{
    font-family: 'Montserrat', sans-serif; 
    margin: 0; 
}
h1{
    font-size: 50px;
    color: rgb(240, 240, 234);
    text-align: center;
}
.image{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding-top:30px;
    text-align: center;
    
}
#color{
    color: rgb(241, 243, 245);
    text-align: center;
    padding-top: 10px;
}
.link{
    text-decoration: none;
    color:rgb(216, 87, 64) ;
    border: 2px solid white;
    border-radius: 8px;
    background-image: linear-gradient(white,skyblue);
}